<div class="grid home-banner" id="clicker"> 
  <div class="typing-text">
    <div class="dynamic-text-font" id="nav-typed-text"></div>
  </div>
<div></div>
  <div class="banner-paragraph-home">
    <span class="text-justify">A full stack developer who <br></span><span> enjoys building and designing <br>   
    </span><span>Front</span><span style="color:yellow;"> & </span><span>Back-End applications</span>
  </div>
  <div class="d-flex justify-content-end" id="word-about">
    <%= link_to '', "#{root_path}#bio", class: "about-myself" %>   
  </div>
</div>
<%# --------------------------Firs container Biography------------------------------ %>
<div class="biography-grid first-container-home" id="bio">  
  <div class="bio-pic-container"> 
      <%= image_tag("chris.jpg", :class => "chris-pic", :id => "chris-pic-border", alt: "upload") %>
  </div> 
  <div class="bio-paragraph-container">
    <%= image_tag("What_about_me_p.png", :class => "what-about-me-p", alt: "upload") %>
  </div>
  <div class= "more-text-container">
    <div id="clicker"> <%# id clicker for JS file top to bottom %>
      <p>
        <span><%= link_to '', "#{root_path}#hobbies", class: "more-about-me-text"%></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="arrows" id="myDIV"><i class="fas fa-angle-double-down"></i></span>
      </p>           
    </div>
  </div>
    <div></div>
</div> 
<%# --------------------------------2nd container/Hobbies---------------- %>
<div class="hobbies-grid second-container-home">
  <div class="hobbies-paragraph-container">         
    <%= image_tag("Hobbies.png", :class => "hobbies-paragraph", :id => "hobbies-paragraph-border", alt: "upload") %>
  </div>
  <div class="hobbies-pics-container" id="hobbies">
    <div class="ski-pic-container">
      <%= image_tag("skiing.jpg", :class => "ski-pic", alt: "upload") %> 
    </div>
    <div class="bike-pic-container">
      <%= image_tag("mbike.jpg", :class => "bike-pic", alt: "upload") %>
    </div>
    <div class="board-video-container">
      <iframe class="board-video"
        src= "https://www.youtube.com/embed/R7fPZ8d9lnI" 
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div> 
</div>
