<div class="d-flex banner">
  <div class="dynamic-text-container">
    <div class="dynamic-text-font" id="nav-typed-text"></div>
  </div>
    <div class="banner-paragraph ">
      <span class="text-justify">A full stack developer who</span><span> enjoys building and designing   
      </span><span>Front</span><span style="color:yellow;"> & </span><span>Back-End applications</span>
    </div>
  <div class="d-flex justify-content-end" id="word-about">
    <%= link_to '', "#{root_path}#bio", class: "about-myself" %>   
  </div>
</div>
<%# -------------------------- CONTENT --------------------------------------------- %>
<div class="first-container-home-content" id="bio">
  <div class="row">
    <div class="col-6 col-xs-9"> 
        <%= image_tag("chris.jpg", :class => "chris-pic", :id => "chris-pic-border", alt: "upload") %>
    </div> <%# chris pic col 6 col xs 9%>

    <div class="col-6 col-xs-12">
      <%= image_tag("What_about_me_p.png", :class => "what-about-me-p", alt: "upload") %>
    </div> <%# text pic col 6 col xs 9%>

  </div><%# row justify content center%>

    <div class= "more-text-container">
    <div id="clicker"> <%# id clicker for JS file top to bottom %>
      <p>
        <span><%= link_to '', "#{root_path}#hobbies", class: "more-about-me-text"%></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="arrows" id="myDIV"><i class="fas fa-angle-double-down"></i></span>
      </p>           
    </div>
  </div>
</div> <%# first container id=bio%>
<%# --------------------------------2nd container/Hobbies---------------- %>
<div class="second-container-home-content">
  <div class="row">
      
      <div class="col-12 col-xs-9">      
        <%= image_tag("Hobbies.png", :class => "hobbies-paragraph", :id => "hobbies-paragraph-border", alt: "upload") %>
      </div>

      <div class="col-12 col-xs-9">  
        <div class="pics-container" id="hobbies">
          <div class="ski-pic-container">
            <%= image_tag("skiing.jpg", :class => "ski-pic", alt: "upload") %> 
          </div>
          <div class="bike-pic-container">
            <%= image_tag("mbike.jpg", :class => "bike-pic", alt: "upload") %>
          </div>
          <div class="board-video-container">
            <iframe class="board-video"
              src= "https://www.youtube.com/embed/R7fPZ8d9lnI" 
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div> 

  </div>   
</div>
