<div class="grid home-banner"> 
  <div class="typing-text">
    <div class="dynamic-text-font" id="nav-typed-text"></div>
  </div>
    <div class="d-flex justify-content-end" id="word-about">
    <%= link_to '', "#{root_path}#bio", class: "about-myself" %>   
  </div>  
  <div class="banner-paragraph-home">
    <span class="text-justify">A full stack developer who <br></span><span> enjoys building and designing <br>   
    </span><span>Front</span><span style="color:yellow;"> & </span><span>Back-End applications</span>
  </div>
  <grid-space></grid-space>
</div>
<%# --------------------------Firs container Biography------------------------------ %>
<div class="biography-grid first-container-home" id="bio">  
  <div class="bio-pic-container"> 
      <%= image_tag("chris_zam_pic.png", :class => "chris-pic", :id => "chris-pic-border", alt: "upload") %>
  </div> 
  <div class="bio-paragraph-container">
    <%= image_tag("What_about_me_p.png", :class => "what-about-me-p", alt: "upload") %>
  </div>
  <div class= "more-text-container">
    <div> 
      <span><%= link_to '', "#{root_path}#hobbies", class: "more-about-me-text"%></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
    </div>
  </div>
  <div>
    <span class="arrows" id="moving-arrows-div"><i class="fas fa-angle-double-down"></i></span>
  </div>
</div> 
<%# --------------------------------2nd container/Hobbies---------------- %>
<div class="hobbies-grid second-container-home">
  <div class="hobbies-paragraph-container">         
    <%= image_tag("Hobbies.png", :class => "hobbies-paragraph", :id => "hobbies-paragraph-border", alt: "upload") %>
  </div>
  <div class="hobbies-pics-container">
    <div class="ski-pic-container" id="hobbies">
      <%= image_tag("skiing.jpg", :class => "ski-pic", alt: "upload") %> 
    </div>
    <div class="bike-pic-container">
      <%= image_tag("mbike.jpg", :class => "bike-pic", alt: "upload") %>
    </div>
    <div class="board-video-container">
      <iframe class="board-video"
        src= "https://www.youtube.com/embed/R7fPZ8d9lnI" 
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div> 
</div>
<p class="text-field" id="show-date"></p>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script>
  new Typed('#nav-typed-text', {
    strings: ["<span style='color:white'> Hello world </span>","<span style='color:white'> I <span style='color:yellow'> am </span> </span><span style= 'color:white'> &nbsp; &nbsp; Christian<span style='color:white'>Z<span style='color:yellow'>am<span style='color:white'>ora</span></span></span></span>"],
    typeSpeed: 100,
    startDelay: 170,
    loop: false, 
  }); 
</script>
<script>
  const movingarrows = document.getElementById("moving-arrows-div");
    window.addEventListener("scroll", () => {
          window.requestAnimationFrame(function() {
            document.getElementById("moving-arrows-div").classList.remove('arrowsmovement');   
            window.requestAnimationFrame(function() {
              document.getElementById("moving-arrows-div").classList.add('arrowsmovement');
            });
          });
    });  
</script>