
  <div class="banner-projects" id="clicker">
    <div class="header">
      <h1>Projects I've worked on</h1>
    </div>
  </div>

  <div class="spacer-chinampa">
    <div class="row">

      <div class="col-6 col-xs-9">
        <h1>
          My Chinampa <%= image_tag("chinampa_logo_round.png", :class => "chinampa_logo_round", alt: "upload") %>
        </h1> 
         <h2>
           <a href=https://www.mychinampa.com/ target="_blank">www.mychinampa.com</a>
         </h2>
        <p>My Chinampa is an application where you can find the best caring tips for your home plants.
          The website has a database of the most common plants taken from an API and allows you to search for specific information in 
          the web. We used sidekiq and TWILIO to code reminders for when to add water, sunlight and soil to your plants catalogue.
        </p>
        <%= image_tag("my_chinampa.png", :class => "my-chinampa-pic", alt: "upload") %>
      </div>

      <div class="col-6 col-xs-12">
        <div class="aside">
          <h4> Created by: </h4>
              Oscar Duque
              Christian Zamora
              <br><br>
          <h5> Programming laguages: </h5>          
              Ruby on Rails
              JS
              HTML
              SCSS
              PostgreSQL
              <%= " Ruby on Rails
              JS
              HTML
              SCSS
              PostgreSQL" * 10%>
        </div>
      </div>

    </div>
  </div>
<%# ----------------------------SPORTIX-------------------------------------- %>
  <div class="spacer-sportix">
    <div class="row">
      <div class="col-6 col-xs-12">
        <div class="aside">
          <h4> Created by: </h4>
              Oscar Duque
              Christian Zamora
              <br><br>
          <h5> Programming laguages: </h5>          
              Ruby on Rails
              JS
              HTML
              SCSS
              PostgreSQL
              <%= " Ruby on Rails
              JS
              HTML
              SCSS
              PostgreSQL" * 10%>
        </div>
      </div>
      <div class="col-6 col-xs-9">
        <h1 id="sportix-h1">SPORTIX<%= image_tag("sportix_logo.png", :class => "sportix_logo_round", alt: "upload") %></h1>
        <h2 id="sportix-h1"><a href=https://www.sportix.life/ target="_blank">https://sportix.life</a></h2>
        <p>Sportix is an application we created inspired in the AirBnB website. The application allows you to book sport classes as well as 
        creating your own profile and teach any sport you like.</p>
          <%= image_tag("sportix.png", :class => "sportix-pic", alt: "upload") %>
      </div>
    </div>  
  </div> <%# spacer %>
<%# --------------------------------EXERCISES-------------------------------------------------%>
  <div class="spacer-exercises">
    <div class="row justify-content-around">

      <div class="col-3 col-xs-9 card-exercise">
        <h1>
          Mr.Cocktail
        </h1> 
         <h2>
           <a href=https://www.mychinampa.com/ target="_blank">Random Numbers</a>
         </h2>
        <p>My Chinampa is an application where you can find the best caring tips for your home plants.
          The website has a database
        </p>
        <%= image_tag("my_chinampa.png", :class => "my-chinampa-pic", alt: "upload") %>
      </div>

      <div class="col-3 col-xs-9 card-exercise">
        <h1>
          GeoCode
        </h1> 
         <h2>
           <a href=https://www.mychinampa.com/ target="_blank">Random Numbers</a>
         </h2>
        <p>My Chinampa is an application where you can find the best caring tips for your home plants.
          The website has a database
        </p>
        <%= image_tag("my_chinampa.png", :class => "my-chinampa-pic", alt: "upload") %>
      </div>

      <div class="col-3 col-xs-9 card-exercise">
        <h1>
          Random No.
        </h1> 
         <h2>
           <a href=https://www.mychinampa.com/ target="_blank">Random Numbers</a>
         </h2>
        <p>My Chinampa is an application where you can find the best caring tips for your home plants.
          The website has a database
        </p>
        <%= image_tag("my_chinampa.png", :class => "my-chinampa-pic", alt: "upload") %>
      </div>

 

    </div><%# row %>
  </div> <%# spacer %>
