<div class="banner-projects" id="clicker">
  <div class="header">
    <h1>Projects I've worked on</h1>
  </div>
</div>
<div class="spacer-chinampa">
  <div class="row justify-content-center">
    <div class="col-6 col-xs-9">
      <h1>
        My Chinampa <%= image_tag("chinampa_logo_round.png", :class => "chinampa_logo_round", alt: "upload") %>
      </h1> 
      <h2>
        <a href=https://www.mychinampa.com/ target="_blank">www.mychinampa.com</a>
      </h2>
      <p>My Chinampa is a web application designed to allow people to improve a living space advising on how to look after the 
        health of their own catalogue of indoor and outdoor plants, includes detailed tutorials, an extensive database of indoor and outdoor plant species 
        scraped from differents API's, all fully searchable and browsable. The web app allows you to set up watering, light 
        exposure and fertilizing reminders programmed to be sent to a mobile device.
      </p>
      <a href=https://www.mychinampa.com/ target="_blank"><%= image_tag("my_chinampa.png", :class => "my-chinampa-pic", alt: "upload") %></a>
    </div>
    <div class="col-3 col-xs-12">
      <div class="aside">
        <h4>Programming Languages</h4>
          Java Script, SASS, Ruby, PostgreSQL, HTML5 and Rails as framework.
          <br>
          Heroku is used as the platform to deploy the web app. It also includes a Twilio API to reach customers
          through SMS's coded alongside sidekiq to allow users set customisable reminders.  
          <br><br>
        <h4>Web development</h4>
          My contributions were Active Record associations & validations, UI and UX design specks using Figma and Whimsical, 
          MVC specks of User's model, Tutorials page and whole application design. 
          In collaboration with <a href=https://github.com/Oscar-Duque target="_blank">Oscar Duque</a> as Product Owner, 
          <a href=https://www.linkedin.com/in/corentin-julienne-260658146/ target="_blank">Corentin Julien</a> as Project Manager and
          <a href=https://www.linkedin.com/in/agathelt/ target="_blank">Agathe Laburthe-Tolra</a> as Lead Developer.
      </div>
    </div>
  </div>
</div><%# spacer %>
<%# ----------------------------SPORTIX-------------------------------------- %>
  <div class="spacer-sportix">
    <div class="row justify-content-center">
      <div class="col-4 col-xs-12">
        <div class="aside">
          <h4>Programming Languages</h4>
            The application includes Ruby, SASS, Bootsrap, PostgreSQL, HTML5 and the framework is Rails.
            <br>
            Heroku is used as the platform to deploy the web app. 
            <br><br>
          <h4>Web development</h4>          
            In this project my contributions were MVC specks of website Views, UI and UX design specks using Figma and Whimsical,
            some Java Script functions and implementation, the whole application design and final presentation.
            In collaboration with <a href=https://github.com/Oscar-Duque target="_blank">Oscar Duque</a> as Back-End Engineer, 
            <a href=https://www.linkedin.com/in/corentin-julienne-260658146/ target="_blank">Corentin Julien</a> Lead Developer,
            <a href=https://www.linkedin.com/in/agathelt/ target="_blank">Agathe Laburthe-Tolra</a> as Project Manager.
        </div>
      </div>
      <div class="col-6 col-xs-9">
        <h1 id="sportix-h1"><%= image_tag("sportix_logo.png", :class => "sportix_logo_round", alt: "upload") %>SPORTIX</h1>
        <h2 id="sportix-h1"><a href=https://www.sportix.life/ target="_blank">https://sportix.life</a></h2>
        <p id="sportix-text">An application we created inspired in the AirBnB website. The target is to reach people who would like to book available 
           sports lessons in their area based on capacity and price. A user's profile allows to join group lessons as well as creating 
           a group to instruct a lesson or a recreative activity of any kind.
        </p>
          <a href=https://www.sportix.life/ target="_blank"><%= image_tag("sportix.png", :class => "sportix-pic", alt: "upload") %></a>
      </div>
    </div>  
  </div> <%# spacer %>
<%# --------------------------------EXERCISES-------------------------------------------------%>
  <div class="spacer-exercises">
    <div class="row justify-content-around">

      <div class="col-3 col-xs-9 card-exercise">
        <h1> Mr.Cocktail </h1> 
        <a href= https://github.com/christianzam/rails-mister-cocktail target="_blank">
        <%= image_tag("mr_cocktail.png", :class => "card-exercise-pictures", alt: "upload") %>
        </a>
        <div>My very first MVC app I made from scratch. Coded with Ruby and JS,
          includes a N:N (many to many) relationship database created with PostgreSQL. 
        </div>        
      </div>
<%# -----------------------------GeoCode-------------------------------------- %>
      <div class="col-3 col-xs-9 card-exercise">
        <h1> GeoCode </h1> 
        <a href= https://github.com/christianzam/GeoCode target="_blank">
        <%= image_tag("GeoCoder.png", :class => "card-exercise-pictures", alt: "upload") %>
        </a>
        <div>This application gets GPS coordinates that uses AJAX and the MapBox Geocoding API, it displays a map showing the 
        input address.
        </div> 
      </div>
<%# -----------------------------Refrain.rb-------------------------------------- %>
      <div class="col-3 col-xs-9 card-exercise">
        <h1>Refrain.rb</h1> 
        <a href= https://github.com/christianzam/Refrain/blob/master/lib/refrain.rb target="_blank">
        <%= image_tag("refrain_rb.png", :class => "card-exercise-pictures", alt: "upload") %>
        </a>
        <div> Ruby file coded specifically to understand how the order 
          arguments are called in a method can often be a source of errors.
        </div> 
      </div>
    </div><%# row %>
  </div> <%# spacer %>
