<div class="banner-contact">
  <div class="stretch-animation contact-banner-title">
    <span id="bordered-letters">GET</span>&nbsp;<span style="color:yellow;">IN</span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="bordered-letters">TOUCH</span>
  </div>
</div>
<div class="first-container-contact">
  <div class="contact-form-grid">
    <div class="contact-text-container">
      <div class="chat-title">SHALL<span style="color:yellow;"> WE </span><br>&nbsp;&nbsp;HAVE A CHAT?</div>
        <div class="chat-text">
          <p><br>About how to <span style="color:yellow;">collaborate</span> with your company, organization or individually. 
            <br>
            Even though I take things <span style="color:yellow;">seriously</span> I excel within an atmosphere <span style="color:yellow;">where</span> we can explore options for real day to day business challenges. 
            <br>
            I believe <span style="color:yellow;">loyalty</span> goes a long way and where it <span style="color:yellow;">exists</span> that's a reason to be self-motivated.
          </p>
        </div>
      <div class="chat-text">
        <ul>
          <li class="list-font-size"><a href="mailto:contact@christian-zamora.com" class="list-font-size"><i class="far fa-envelope icon-item"></i>&nbsp;&nbsp;Contact@Christian-Zamora.com</li></a>
          <li class="list-font-size clipboard" onmouseout="outFunc()"><i class="fas fa-copy icon-item"></i>&nbsp;&nbsp;<span onclick="copyEmail()">Copy Email to clipboard</span></li><span class="tooltiptext copy-alert" id="myTooltip"></span>
          <li class="list-font-size"><a href="https://wa.me/447794848364?text=Hi%20Christian" class="list-font-size" target="_blank"><i class="fab fa-whatsapp icon-item"></i>&nbsp;&nbsp;Conversation</a></li>
        </ul>
      </div>
    </div>
    <div class="contact-form-container">
      <%= simple_form_for @contact do |f| %>
          <div class="form-group">
            <%= f.input :name, label: false, placeholder: 'Name *', error: 'Username is mandatory, please specify one' %>
            <%= f.input :email, label: false, placeholder: 'E-mail *',
                  error: 'You need to add a valid email',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
            <%= f.input :message, label: false, placeholder: 'Message *', :as => :text, :input_html => { 'rows' => 8, 'cols' => 10 } %>
            </div>
              <%= f.button :submit, 'Send Message', class: 'send-button'%>
            <div class= "hidden">
              <%= f.input :nickname, :hint => 'Leave this field blank!' %>
            </div>
      <% end %>
    </div>
  </div>  
</div>
<div class="text-field">
  <input type="text" value="contact@christian-zamora.com" id="eMailAddress">
</div>
<script>
  function stretchingWords() {
    document.querySelector('stretch-animation') 
  }
</script>
<script>
  function copyEmail() {
    var copyText = document.getElementById("eMailAddress");
    console.log("copy please");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");
    var tooltip = document.getElementById("myTooltip");
    tooltip.innerHTML = "Copied: " + copyText.value;
  }
  function outFunc() {
    var tooltip = document.getElementById("myTooltip");
    tooltip.innerHTML = "";
  }
</script>
